.vs
Library
Logs
obj
Temp
UserSettings
.vsconfig
*.csproj
*.sln


ConvenienceStoreGame/Assets/LeartesStudios/CoffeeShopInterior/Built-In/CoffeeShopBuiltIn.unitypackage
ConvenienceStoreGame/Assets/Aseets/Map/CoffeeShop/CoffeeShopInterior/Built-In/CoffeeShopBuiltIn.unitypackage
